html{
  overflow-x: hidden;
}
body{
  color: #4a4a4a;
  font-size: 14px;
  box-sizing: border-box;
  overflow: hidden;
}
h1{
  font-size: 95px;
}
h2{
  font-size: 33px;
  text-transform: uppercase;
  font-weight: 550;
 }
h5{
  font-weight: 600;
  font-size: 18px;
  position: relative;
  margin-bottom: 62px;
}
h5::after{
  content: '';
  height: 0;
  width: 85px;
  border-top: 3px solid #fff;
  position: absolute;
  bottom: -22px;
  left: 0;
}
.header .strip{
padding:15px 0;
display: flex;
}
.header{
  background:#262626;
  position: relative;
  
}
.header .strip{
  justify-content: space-between;
}
.nav{
  justify-content:flex-end;
  padding-top: 10px;
  padding-right: 41px;
}
.header .nav a:hover{
  color:#d3d3d3;
  text-decoration: none;
  text-shadow: 0px 1px 0px black;
}
.header .nav a{
  padding: 8px 14px;
  border-radius: 18px;
  border: 1px solid white;
  margin-left: 16px;
  display: block;
  color:white;
  text-transform: uppercase;
}
.header .container{
  position: relative;
}
.logo{
  width:81px;
}

.footer{
  color:#fff;
  background: #262626;
}
.footer .strip{
  padding:70px 0;
}
.footer .strip span{
 display: block;
}
.footer .copy{
  font-size: 13px;
}
.nav-footer{
  padding:0;
  margin: 0;
}
.nav-footer li{
  display: block;
  margin-bottom: 8px;
}
.nav-footer a{
 display: inline-block;
 color: #fff;
}
.footer a:hover{
  color:#d3d3d3;
}
.footer .address{
  padding-right: 93px;
  word-break: break-all;
}
.footer a{
  color:#fff;
  text-decoration: none;
}
.footer .contact span{
  margin-bottom: 15px;
}
.footer .social a{
  display: inline-block;
}
.footer .social i{
  font-size: 21px;
  margin-right: 19px;
}

.banner-wrap{
  position: relative;
}
.banner-wrap.slider .item{
  position: relative;
}
.banner{
    width:100%;
    height:auto;
}
.banner-info{
  text-align: center;
  padding-top:187px;
  position: absolute;
  color:white;
  top:0;
  left:0;
  right:0;
}
.banner-info span{
  font-size: 32px;
  display: block;
  margin-block-end: 20px;
}
.banner-info .effect{
    height: 23px;
    width: 90px;
    background: white;
    display: inline-block;
    border-radius: 15px;
}
.explore{
  text-align: center;
}
.explore .container{
  padding-top:50px;
}
.explore .domain{
  background: #f3f3f3;
  padding-bottom: 8px;
}
.explore ul{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding: 0;
}
.explore ul li{
  background: white;
    list-style: none;
    padding: 37px;
    margin: 20px;
    box-shadow: 0px 0px 20px 2px #e6e6e6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    border-radius: 12px;
  
}

.explore ul li img{
  width: 108px;
  height: auto;
  position: relative;
  transition: top 2s cubic-bezier(0.56, 0.08, 0.42, 0.79);
}
.explore ul li a{
  display: inline-block;
  margin-bottom: 28px;
  vertical-align: middle;
  
}
.explore h2{
  margin-bottom: 66px;
}
.explore li span{
    display: block;
    position: absolute;
    top: 77%;
    left: 6%;
    right: 6%;
}
.explore .clients .list li{
  padding: 18px;
    margin: 20px;
    box-shadow: none;
}
.explore .clients ul li img{
  width: auto;
  height: 80px;
}

.explore ul li:hover img{
  top:-2px;
}
.side-bar{
  text-align: center;
  width:30%;
  position: absolute;
  top:0;
  right: 0;
  background: #262626;
  height:100vh;
  z-index: 200;
  padding-top: 70px;
  right: -405px;
  transition: all 0.5s;
}
.side-bar.active{
  right:0;
}

.side-bar ul{
  padding: 0
}
.side-bar li{
list-style: none;
padding:10px;
}

.side-bar-menu-button{
  position: absolute;
  top: 26px;
  right: 0;
  border: 2px solid white;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  text-align: center;
  cursor: pointer;
}
.side-bar-menu-button i{
  color:white;
  font-size: 21px;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

.side-bar li a{
display: inline-block;
color:white;
text-transform: uppercase;
font-size: 18px;
text-decoration: none;
}
.side-bar .close{
  position: absolute;
    top: 20px;
    right: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #bbbbbb;
    padding: 0px;
    height: 30px;
    border-radius: 50%;
    font-weight: 400;
    border: 2px solid white;
    text-shadow: none;
    width: 30px;
}
.side-bar .close:hover{
  color: white !important;
  border-color: white;
}
.side-bar .close:hover{
  color: white;
  border-color: white;
}
.banner-arrow{
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
  color: #a5a4a4;
  font-size: 33px;
  cursor: pointer;
}
.banner-arrow.left{
  left:27px;
  top:46%;
  z-index:10;
  display: block;
}
.banner-arrow.right{
  right:27px;
  top:46%;
  z-index:10;
  display: block;
}

/*pKs*/




/*pks*/


@media only screen and (max-width: 991px) {

  .banner-info {
    padding-top: 71px;
  }
  .footer .address {
    padding-right: 10px;
  }

}
.error-page{
  padding:100px 0;
  text-align: center;
}
.error-page img{
  width:40%;
  height:auto;
  margin:0 auto;
  display: inline-block;
}

@media only screen and (max-width: 768px) {

  .logo{
    width: 58px;
  }
  .nav{
    padding-top: 6px;;
  }
body div a{
  font-size: 11px;
}
h1 {
  font-size: 50px;
}
.banner-info span {
  font-size: 18px
}
h2 {
  font-size: 20px;
}
.explore .container {
  padding-top: 34px;
}
.explore h2 {
  margin-bottom: 0;
}
.explore ul li img {
  width: 164px;
}
.footer-item{
  padding-bottom: 38px;
}
.footer .strip {
  padding-bottom: 0;
}
.side-bar-menu-button {
    top: 21px;
    height: 33px;
    width: 33px;
}
.side-bar-menu-button i {
  font-size: 19px;
}
.side-bar li a {
  font-size: 11px;
}
.side-bar li {
  padding: 8px;
}
.banner-arrow.left, .banner-arrow.right{
top:40%;
font-size: 18px;
}
}

@media only screen and (max-width: 576px) {
  .logo {
    width: 41px;
}

.header .nav a {
  padding: 5px 7px;
  font-size: 7px;
}
h1 {
  font-size: 42px;
}
.banner-info {
  padding-top: 9px;
}
.footer .social a {
  margin-bottom: 17px;
}

.side-bar-menu-button {
  top: 21px;
  height: 24px;
  width: 24px;
  right: 8px;
}
.side-bar-menu-button i {
  color: white;
  font-size: 12px;
  vertical-align: middle;
}

}
